.checked {
  color: #ccc;
  text-decoration: line-through;
  font-style: italic;
}

.fa {
  margin: 0 5px;
  color: #bbb;
}

li > label[for="todo"],
li > label[for="trash"] {
  padding-left: 12px;
  width: 210px;
}
.trashZone i[class="delete fa fa-trash"] {
  font-size: 28px;
}
.trashZone label {
  color: #bbb;
  font-style: italic;
}
i:hover {
  color: #000;
}
.todoZone label:hover {
  /* background-color: #555;
  color: #fff; */
  text-decoration: line-through;
  transition: all 2s linear;
}
